<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Comments</title>
    <link rel="shortcut icon"
        href="https://upload.wikimedia.org/wikipedia/commons/6/67/Google_Messages_icon_%282022%29.svg">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: {
                            "moderate-blue": "hsl(238, 40%, 52%)",
                            "soft-red": "hsl(358, 79%, 66%)",
                            "light-grayish-blue": "hsl(239, 57%, 85%)",
                            "pale-red": "hsl(357, 100%, 86%)"
                        },
                        neutral: {
                            "dark-blue": "hsl(212, 24%, 26%)",
                            "grayish-blue": "hsl(211, 10%, 45%)",
                            "light-gray": "hsl(223, 19%, 93%)",
                            "very-light-gray": "hsl(228, 33%, 97%)",
                            white: "hsl(0, 0%, 100%)"
                        }
                    }
                }
            }
        }
    </script>
</head>

<body>
    <main class="bg-neutral-very-light-gray min-h-screen">
        {% block content %}
        <!-- Content -->
        {% endblock %}
    </main>

</body>

</html>